* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.square{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    box-shadow: 4px 4px 4px gray;
    margin: 20px;
}